.bg-linear {
    background-image: linear-gradient(to right, #9e6af0, #4f66f9, #9fbff6);
}

.img-top {
    margin-top: 200px;
}

.t-color {
    color: #faedcd;
}

.input {
    position: relative;
    border-radius: 40px;
    border: none;
}

.b-t {
    border-radius: 40px;
    position: absolute;
    right: 200px;
    border: none;
}

.in-hig {
    height: 50px;
}

.bor {
    border: 1px solid #faedcd;
    padding: 20px;
    box-shadow: 10px solid bisque;
    border-radius: 10px;
}

.todo-item {
    font-size: 18px;
    padding: 10px 15px;
    margin-bottom: 8px;
    margin-right: 50px;
    background-color: #f8f9fa;
    border-radius: 20px;
    list-style-type: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.del {
    margin-left: 30px;
    border-radius: 10px;
    background-color: rgb(247, 20, 20);
    color: #e2e6ea;
    border: none;
    height: 40px;
}

.done{
    background-color: green;
    margin-left: 580px;
    border: none;
    border-radius: 10px;

}

